  <div class="content">
    <p class="prompt">What email address would you like to use to sign into <span class="sitename bad"><%= sitename %></span>?</p>
    <form id="identities" name="identities">
      <ul>
        <% _.each(identities, function(email_obj, email_address) { %>
          <li>
            <input type="radio" name="identity" value="<%=email_address%>" id="<%=email_address%>" />
            <label for="<%=email_address%>"><%= email_address %></label>
          </li>
        <% }); %>
        <li>
          <input type="radio" name="identity" value="addemail" id="addemail" />
          <label for="addemail">Add a new email address</label>
        </li>
      </ul>
    </form>
  </div>
  
  <div id="bottom-bar">
    <button id="pickemail" class="righty action submit">Sign In</button>
    <button id="cancel">Cancel</button>
  </div>

  <div class="actions">
    <a id="notme" href="#">This is not me.</a>
  </div>
